logger.consoleBufferSize=20
logger.dateFormat=
# DEBUG and INFO are not recommended defaults, as they will drastically slow down your router
logger.defaultLevel=INFO
#logger.defaultLevel=DEBUG
logger.displayOnScreen=true
logger.dropDuplicates=true
logger.dropOnOverflow=false
logger.flushInterval=29
logger.format=d p [t] c: m
logger.gzip=false
logger.logBufferSize=1024
logger.logFileName=logs/stdout
logger.logFileSize=10m
logger.logRotationLimit=2
logger.minGzipSize=0
logger.minimumOnScreenLevel=CRIT

